* {
    margin: 0;
    padding: 0;
  }
  .body {
    box-sizing: border-box;
  }
  .content {
    background-color: #004980;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .choose-level-box {
    background-color: #C2F5FF;
    width: 480px;
    height: 459px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
  }
.choose-level-title {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
    max-width: 208px;
  }
  .choose-level-numbers-box {
    display: flex;
    gap: 24px;
  }
  .choose-level-number {
    font-family: 'StratosSkyeng';
    background-color: #fff;
    color: #0080C1;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    width: 97px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

  }
.choose-level-button {
    width: 246px;
    height: 50px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    background-color: #7AC100;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 700;
  }
  .password-input {
    font-size: 20px;
  }
  .button {
    width: 200px;
    height: 50px;
    background: #000;
    font-family: "Montserrat", sans-serif;
    color: blanchedalmond;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }