/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable prettier/prettier */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.body {
    box-sizing: border-box;
}

.content-screen-1 {
    background-color: #004980;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.choose-level-box {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.choose-level-title {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
    max-width: 208px;
}

.choose-level-numbers-box {
    display: flex;
    gap: 24px;
}

.choose-level-number {
    font-family: 'StratosSkyeng';
    background-color: #fff;
    color: #0080c1;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    width: 97px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
}

.choose-level-button {
    width: 246px;
    height: 50px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    background-color: #7ac100;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.content-screen-2 {
    background-color: #004980;
    min-height: 100vh;
    display: none;
    flex-direction: column;
}

.game-info-box {
    padding-top: 22px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: calc(100% - 1500px);
    padding-right: calc(100% - 1500px);
}

.info-time-box {
    display: flex;
    flex-direction: column;
}

.info-time-min-sec-box {
    display: flex;
    justify-content: flex-end;
}

.text-min {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    padding-right: 57px;
}

.text-sec {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.info-time-tracker {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #fff;
}

.game-start-again-button {
    width: 246px;
    height: 48px;
    background: #7ac100;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
}

.game-start-again-button-final {
    width: 246px;
    height: 48px;
    background: #7ac100;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
}

.game-start-cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.chosen-level {
    border: 3px solid #004980;
    width: 93px;
    height: 94px;
}

.text {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    padding-top: 18px;
    padding-bottom: 10px;
}

.final-time {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #000;
    padding-bottom: 40px;
}

.content-screen-3 {
    background-color: #004980;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

.popup {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.you-won-title {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
}
